body{
    margin: 0px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -1px;   
    background-color: rgb(240, 240, 240);
}

input.error, textarea.error{
    border: 2px solid red;
}

#wrapper{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

#background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.08;
    
    background-size: 200%;
    background-position: center;
}

#menuPanel{
    height: 40px;
    width: 100%;
    background-color: rgb(40, 88, 89);
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: left;
    z-index: 999;
}


#menuPanel img{
    height: 22px;
    max-width: 20%;
    padding: 9px 35px;
    
    opacity: 0.4;
    transition-duration: 0.2s;
}

#menuPanel #logo{
    position: fixed;
    top: 2px;
    right: 2px;
    padding: 0px;
    height: 36px;
    opacity: 1;
}

#menuPanel img:hover, #menuPanel img.active{
    opacity: 1;
}

#albumPanel{
    position: absolute;
    top: 40px;
    left: 0px;
    color: white;
    margin-left: -250px; /*animáláshoz*/
    z-index: 10;
}

#albumPanel ul{
    padding: 0;
    list-style-type: none;
    margin: 0px;
}

#albumPanel ul li{
    width: 150px;
    height: 40px;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    margin: 2px 0;
    font-size: 20px;
    transition-duration: 0.2s;
   
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}



#albumPanel ul li:hover{
    background-color: rgba(40, 88, 89, 0.9);
}

#albumPanel li.active{
    margin: 4px 0px;
    padding-left: 30px;
    background-size: 200%;
    background-color: rgba(40, 88, 89, 0.9);
}

#albumPanel li:first-of-type.active{
    margin-bottom: 5px;
    padding-left: 30px;
    background-size: 200%;
    background-color: rgba(40, 88, 89, 0.9);
}

#albumPanel ul li img{
    width: 200%;
    opacity: 0.3;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    
    position: relative;
    top: 0px;
    left: 0px;
}

#albumPanel ul li.active img{
    opacity: 0.5;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    

}

#albumPanel ul li span{
    position: absolute;
    top: 0px;
    left: 10px;
    transition-duration: 0.4s;
    display: inline-block;
    margin-left: 0px;
}

#albumPanel ul li.active span{
    margin-left: 5px;
}

#contentPanel{
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
    
    margin-top: 40px;
}


#thumbnails{
    padding-right: 10px;

    float: left;
    margin-left: 10px;
}

/*.thumbnail{
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    opacity: 0.3;
    margin: 3px;
    transition-duration: 0.2s;

}*/

.thumbnail:hover{
    /*opacity: 0.5;*/
}

.thumbnail.active{
    opacity: 1;
    
}

/*.thumbnail.active img{
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}*/

/*.thumbnail img{
    position: relative;
    width: 250%;
}*/

/*.thumbnail img.hover{
    width: 150%;
    top: -10px;
    left: -10px;
}*/

#thumbnails .horizontalSeparator{
    position: relative;
    margin: 3px 0px;
    margin-top: 50px;
    text-align: right;
    right: 0px;
    transition-duration: 0.2s;
    display: inline-block;
}

#thumbnails .horizontalSeparator .albumTitle{
    text-align: left;
    border-bottom: 1px solid rgb(40, 88, 89);
    margin-bottom: 3px;
    font-size: 18px;
}

#thumbnails .horizontalSeparator:first-of-type{
    margin-top: 10px;
}

.thumbnail{
    float: left;
    margin: 2px;
    overflow: hidden;
    opacity: 0.3;
    transition-duration: 0.2s;
    
    
}
.thumbnail img{
    height: 100%;
    /*
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);*/
}




#slideContainer{
    position: fixed;
    overflow: hidden;
    text-align: center;
}

#slideWrapper{
    position: relative;
    overflow: hidden;
}

#slide{
    margin: 0px auto;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100%;
}

#slide img{
    max-width: 100%;
    max-height: 100%;
}

.invisible{
    opacity: 0;
}

#slideInfo{
    position: absolute;
    transition-duration: 0.5s;
    z-index: 2;
    
}

#slideInfo.active{
    bottom: 0px !important;
}

#slideInfo .icon{
    line-height: 50px;
    color: white;
    width: 100%;
    height: 50px;
    left: 0px;
    bottom: 0px;
    margin: 0px auto;
    text-align: center;
    opacity: 0;
    transition-duration: 0.5s;
    background-image: url('../img/build/info.png');
    background-color: rgba(40, 88, 89, 0.5);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 40px;
    margin-top: 50px;
}

#slideInfo .info{
    color: white;
    width: 100%;
    left: 0px;
    background-color: rgba(40, 88, 89, 0.9);
    text-align: center;
    padding: 10px 0px;
    transition-duration: 0.5s;
}

#slideInfo hr{
    margin: 0px;
    
}

#slideInfo #photoInfo{
    font-size: 24px;
    padding-bottom: 15px;
}



#slideInfo:hover .icon{
    opacity: 1;
    background-color: rgba(40, 88, 89, 0.5);
}

#slideInfo .icon:hover{
    bottom: 0px;
}

#nextSlide{
    right: 0px;
}

#prevSlide{
    left: 0;
    text-align: left;
}

.slideNavigation{
    color: white;
    width: 40%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0px;
}

#slideContainer .icon.visible{
    opacity: 1;
    background-color: rgba(40, 88, 89, 0.5);
}

#slideInfo.visible{
    opacity: 1;
}

.slideNavigation span{
    position: absolute;
    top: 45%;
    opacity: 0;
    transition-duration: 0.5s;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100px;
    width: 30px;
    
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 15px;
}


.slideNavigation:hover span{
    opacity: 1;
    background-color: rgba(40, 88, 89, 0.5);
}

#nextSlide span{
    right: 0px;
    background-image: url('../img/build/arrow-right.png');
    
}

#prevSlide span{
    background-image: url('../img/build/arrow-left.png');
}

#me{
    height: 100%;
    max-width: 800px;
    min-width: 500px;
    margin: -5px auto;
    padding: 0px 40px;
    display: block;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 20px;
}


#me img.header{
    width:200px;
    border-radius: 50%;
    margin: 0px 50%;
    left: -100px;
    position: relative;
}

#me .logoContainer{
    position: relative;
    margin: 0px auto;
    width: 30%;
}

#me img.logo{
    width: 40%;
    margin: 3%;
}

#me .footer{
    width: 100%;
    font-size: 10px;
    text-align: center;
    margin-top: 40px;
}

#guestbook header{
    text-align: center;
    font-weight: lighter;
    font-size: 48px;
    margin: 15px 0px;
}

#guestbook #formContainer{
    text-align: center;
}

#guestbook #responseContainer{
    text-align: center;
    opacity: 0;
    min-height: 100px;
    transition-duration: 0.5s;
    font-size: 32px;
    margin: 0px auto 20px auto;
    text-align: center;
    width: 90%;
}

#guestbook form{
    text-align: center;
}

#guestbook form input, #guestbook form textarea{
    margin: 10px;
    width: 300px;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
}

#guestbook form textarea{
    width: 400px;
    height: 150px;
    padding: 5px;
}

#guestbook .entry{
    text-align: center;
    margin: 0px auto 50px auto;
    font-size: 20px;
    width: 80%;
    max-width: 800px;
}

#guestbook .date{
    font-size: 10px;
    margin: 0px 15px;
    height: 100%;
    line-height: 100%;
}

#submitGBook{
    width: 200px;
    margin: 0px auto;
    padding: 10px 0px;
    background-color: rgb(40, 88, 89);
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
}

#guestbook .author{
    font-size: 14px;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
