body{
    margin: 0px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: -1px;   
    background-color: rgb(240, 240, 240);
}

#wrapper{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

#background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.08;
    
    background-size: 200%;
    background-position: center;
}

#menuPanel{
    height: 40px;
    width: 100%;
    background-color: rgb(40, 88, 89);;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: left;
    z-index: 999;
}

#menuPanel img{
    height: 30px;
    margin: 5px 30px;
    
    opacity: 0.4;
    transition-duration: 0.2s;
}

#menuPanel img:hover, #menuPanel img.active{
    opacity: 1;
}

#albumPanel{
    position: absolute;
    top: 40px;
    left: 0px;
    color: white;
    margin-left: -250px;
    z-index: 10;
}

#albumPanel ul{
    padding: 0;
    list-style-type: none;
    margin: 0px;
}

#albumPanel ul li{
    width: 150px;
    height: 40px;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    margin: 2px 0;
    font-size: 20px;
    transition-duration: 0.2s;
   
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}



#albumPanel ul li:hover{
    background-color: rgba(40, 88, 89, 0.9);
}

#albumPanel li.active{
    margin: 4px 0px;
    padding-left: 30px;
    background-size: 200%;
    background-color: rgba(40, 88, 89, 0.9);
}

#albumPanel li:first-of-type.active{
    margin-bottom: 5px;
    padding-left: 30px;
    background-size: 200%;
    background-color: rgba(40, 88, 89, 0.9);
}

#albumPanel ul li img{
    width: 200%;
    opacity: 0.3;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    
    position: relative;
    top: 0px;
    left: 0px;
}

#albumPanel ul li.active img{
    opacity: 0.5;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    

}

#albumPanel ul li span{
    position: absolute;
    top: 0px;
    left: 10px;
    transition-duration: 0.4s;
    display: inline-block;
    margin-left: 0px;
}

#albumPanel ul li.active span{
    margin-left: 5px;
}

#contentPanel{
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
    
    margin-top: 40px;
}


#thumbnails{
    padding-right: 10px;

    float: left;
    margin-left: 200px;
}

/*.thumbnail{
    display: inline-block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    opacity: 0.3;
    margin: 3px;
    transition-duration: 0.2s;

}*/

.thumbnail:hover{
    /*opacity: 0.5;*/
}

.thumbnail.active{
    opacity: 1;
}

/*.thumbnail img{
    position: relative;
    width: 250%;
}*/

/*.thumbnail img.hover{
    width: 150%;
    top: -10px;
    left: -10px;
}*/

#thumbnails .horizontalSeparator{
    position: relative;
    margin: 3px 0;
    margin-top: 50px;
    text-align: right;
    right: 0px;
    transition-duration: 0.2s;
    display: inline-block;
}

#thumbnails .horizontalSeparator:first-of-type{
    margin-top: 2px;
}

.thumbnail{
    float: left;
    margin: 2px;
    overflow: hidden;
    opacity: 0.3;
    transition-duration: 0.2s;
}

.thumbnail.portrait img{
    height: 100%;
}

.thumbnail.landscape img{
    height: 100%;
}



#slide{
    position: fixed;
    top: 5px;
    right: 20px;
    text-align: right;
}

#slide img{
    max-width: 100%;
    max-height: 100%;
}

#me{
    max-width: 800px;
    min-width: 500px;
    margin: 50px auto;
    padding: 0px 40px;
    display: block;
    letter-spacing: 2px;
    text-align: justify;
    font-size: 20px;
}


#me img{
    border: 5px solid rgba(0,0,0,0);
}


