body{
    margin: 0px;
    overflow: hidden;

}

#wrapper{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

#background {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 100%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    opacity: 0.08;
    
    background-size: 200%;
    background-position: center;
}

#menuPanel{
    height: 500px;
    width: 50px;
    background-color: green;
    position: fixed;
    top: 150px;
    left: 0px;
}

#albumPanel{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
}

#albumPanel ul{
    margin: 180px 52px;
    padding: 0;
    list-style-type: none;
}

#albumPanel ul li{
    width: 120px;
    height: 50px;
    line-height: 50px;
    margin: 2px 0;
    padding: 0 10px;
    font-size: 22px;
    transition-duration: 0.2s;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 400%;
}

#albumPanel li.active{
    margin: 5px 0;
    padding-left: 50%;
    background-size: 200%;
}

#contentPanel{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
    
}

#thumbnails{
    float: right;
    padding-right: 10px;
    width: 1000px;
    height: 100%;
    max-width: 50%;
    min-width: 240px;
}

.thumbnail{
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 0px solid rgba(0, 0, 0, 0);
    opacity: 0.3;
    margin: 1px;
    transition-duration: 0.2s;
}

.thumbnail:hover{
    opacity: 0.5;
}

.thumbnail.active{
    border-color: rgb(40, 88, 89);
    opacity: 1;
}

.thumbnail img{
    position: relative;
    left: -50%;
    top: -50%;
    width: 250%;
}

/*.thumbnail img.hover{
    width: 150%;
    top: -10px;
    left: -10px;
}*/

#thumbnails .horizontalSeparator{
    position: relative;
    margin: 3px 0;
    margin-top: 50px;
    text-align: right;
    right: 0px;
    transition-duration: 0.2s;
}

#thumbnails .horizontalSeparator.active{
   
}

#horizontalSeparator{
    position: absolute;
    left: 230px;
    z-index: 999;
    width: 2000px;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 2px solid rgb(40, 88, 89);
    margin-top: 70px;
}

#horizontalSeparator span{
    position: absolute;
    bottom: 0px;
    font-size: 36px;
}

#verticalSeparator{
    position: absolute;
    border-right: 2px solid rgb(40, 88, 89);
    display: none;
}

